<% if users.any? %>
  <% users.each do |user| %>

    <img class="mr-2 rounded" src="<%= gravatar_url(user, { size: 50 }) %>" alt="">

     <%= user.name %>
     
     <p><%= link_to 'View profile', user_path(user) %></p>
  <% end %>
  <%= paginate users %>
<% end %>